1. What are data structures, and why are they important?

>> Data structures are ways of organizing and storing data so it can be accessed and modified efficiently. They are important because they improve program performance, reduce complexity, and allow efficient data manipulation.

2. Explain the difference between mutable and immutable data types with examples.

>> Mutable data types can be changed after creation (e.g., list, dict, set).
>>Immutable data types cannot be changed after creation (e.g., int, tuple, str).

In [1]:
a = [1, 2]
a.append(3)

In [2]:
a

[1, 2, 3]

In [3]:
s = "hi"
# s[0] = 'H'  # Error

In [4]:
s

'hi'

3. What are the main differences between lists and tuples in Python?

>>Lists are mutable, tuples are immutable

>>Lists use [], tuples use ()

>>Tuples are generally faster and safer for fixed data

4. Describe how dictionaries store data.

>>Dictionaries store data as key–value pairs using a hash table. Each key is hashed to determine where its value is stored for fast lookup.

5. Why might you use a set instead of a list in Python?

>>Because sets:

>>Automatically remove duplicates

>>Provide faster membership testing

>>Support mathematical set operations

6. What is a string in Python, and how is it different from a list?

>>A string is an immutable sequence of characters, while a list is a mutable sequence that can hold mixed data types.

7. How do tuples ensure data integrity in Python?

>>Since tuples are immutable, their values cannot be changed accidentally, making them ideal for fixed or constant data.

8. What is a hash table, and how does it relate to dictionaries in Python?

>>A hash table stores key–value pairs using a hash function. Python dictionaries are implemented using hash tables for fast access.

9. Can lists contain different data types in Python?

>>Yes. Lists can store mixed data types.

In [5]:
lst = [1, "hello", 3.5]
lst

[1, 'hello', 3.5]

10. Explain why strings are immutable in Python.

>>Immutability improves memory efficiency, performance, and security by allowing string reuse and preventing accidental modification.

11. What advantages do dictionaries offer over lists for certain tasks?

>>Faster lookups using keys

>>More readable data representation

>>Efficient mapping relationships

12. Describe a scenario where using a tuple would be preferable over a list.

>>When storing fixed data such as coordinates (x, y) or days of the week, where modification should not occur.

13. How do sets handle duplicate values in Python?

>>Sets automatically remove duplicate values and store only unique elements.

14. How does the in keyword work differently for lists and dictionaries?

>>-In lists: checks for values

>>-In dictionaries: checks for keys

15. Can you modify the elements of a tuple? Explain why or why not.

>>No. Tuples are immutable, so their elements cannot be changed once created.

16. What is a nested dictionary, and give an example of its use case.

>>A dictionary containing other dictionaries.

In [6]:
student = {
  "name": "Alice",
  "marks": {"math": 90, "science": 85}
}
student

{'name': 'Alice', 'marks': {'math': 90, 'science': 85}}

In [ ]:
17. Describe the time complexity of accessing elements in a dictionary.

>>Average-case time complexity is O(1) due to hashing.

18. In what situations are lists preferred over dictionaries?

>>When order matters

>>When accessing elements by position

>>When storing simple sequences

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

>>Historically unordered because keys are stored based on hashes. Retrieval is fast but not index-based. (Modern Python preserves insertion order, but retrieval is still key-based.)

20. Explain the difference between a list and a dictionary in terms of data retrieval.

>>Lists retrieve data using index positions
>>Dictionaries retrieve data using keys, which is faster and more descriptive

In [7]:
#1. Create a string with your name and print it
name = "Alex"
print(name)

Alex

In [8]:
#2. Find the length of the string "Hello World"
text = "Hello World"
print(len(text))

11

In [9]:
#3. Slice the first 3 characters from "Python Programming"
text = "Python Programming"
print(text[:3])

Pyt

In [10]:
#4. Convert the string "hello" to uppercase
text = "hello"
print(text.upper())

HELLO

In [11]:
#5. Replace "apple" with "orange" in "I like apple"
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [12]:
#6. Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [13]:
#7. Append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [14]:
#8. Remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [15]:
#9. Access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [16]:
#10. Reverse the list [10, 20, 30, 40, 50]
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [17]:
#11. Create a tuple with elements 100, 200, 300 and print it
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [18]:
#12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [19]:
#13. Find the minimum number in the tuple (10, 20, 5, 15)
nums = (10, 20, 5, 15)
print(min(nums))

5

In [21]:
#14. Find the index of "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [22]:
#15. Create a tuple of three fruits and check if "kiwi" is in it
fruits = ('apple', 'banana', 'mango')
print('kiwi' in fruits)

False

In [23]:
#16. Create a set with elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

In [24]:
#17. Clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [25]:
#18. Remove the element 4 from the set {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [26]:
#19. Find the union of the sets {1, 2, 3} and {3, 4, 5}
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [30]:
#20. Find the intersection of the sets {1, 2, 3} and {2, 3, 4}
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [31]:
#21. Create a dictionary with keys "name", "age", and "city" and print it
person = {"name": "Alice", "age": 25, "city": "London"}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'London'}

In [32]:
#22. Add "country": "USA" to the dictionary {'name': 'John', 'age': 25}
data = {'name': 'John', 'age': 25}
data['country'] = 'USA'
print(data)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [33]:
#23. Access the value of "name" in the dictionary {'name': 'Alice', 'age': 30}
data = {'name': 'Alice', 'age': 30}
print(data['name'])

Alice

In [34]:
#24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
data = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del data['age']
print(data)

{'name': 'Bob', 'city': 'New York'}

In [35]:
#25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
data = {'name': 'Alice', 'city': 'Paris'}
print('city' in data)

True

In [36]:
#26. Create a list, a tuple, and a dictionary and print them
lst = [1, 2, 3]
tpl = (4, 5, 6)
dct = {'a': 1, 'b': 2}

print(lst)
print(tpl)
print(dct)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [37]:
#27. Create a list of 5 random numbers (1–100), sort it, and print it
import random

nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[6, 36, 61, 67, 87]

In [38]:
#28. Create a list of strings and print the element at the third index
words = ['apple', 'banana', 'cherry', 'date', 'fig']
print(words[3])

date

In [39]:
#29. Combine two dictionaries into one and print the result
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [40]:
#30. Convert a list of strings into a set
lst = ['apple', 'banana', 'apple', 'cherry']
s = set(lst)
print(s)

{'apple', 'banana', 'cherry'}

In [ ]:
#21. Create a dictionary with keys "name", "age", and "city" and print it